<main>

  <img class="logo" src="../../assets/logoEncurtame.png" alt="logo">

  <h1>Digite abaixo o endereço a ser encurtado</h1>

  <input
    id="longUrl" 
    name="longUrl"
    placeholder="Digite a sua URL"
    [(ngModel)]="longUrl"
    (keyup.enter)="focoProx()"
    maxlength="600"
  />

  <input
    id="shortUrl" 
    name="shortUrl"
    placeholder="Apelido da URL"
    ng-pattern="/^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$/"
    [(ngModel)]="shortUrl"
    (keyup.enter)="encurtaURL()"
    maxlength="35"
  />

  <h2 (click)="copyUrl()" *ngIf="urlGerada.length">{{urlGerada}}</h2>
  <h3 *ngIf="message.length">{{message}}</h3>

  <div class="card-container">
      <div (click)="encurtaURL()" [ngClass]="{disabled: canShort()}" class="card" rel="noopener">
        <span>Encurtar URL</span>
      </div>
      <div class="card" (click)="copyUrl()" [ngClass]="{disabled: urlGerada==''}" rel="noopener">
        <span>Copiar URL</span>
      </div>
  </div>

  <br><br>

  <h5>Ajude o projeto a se manter, contribua :D</h5>
  <img class="qrcode" src="../../assets/qrcode.png" alt="qr-code"/>

</main>